.DS_Store
build.log
build
app
npm-debug.log
tmp
Resources

# vendors
plugins
node_modules
src/lib/vendor

# project config
src/config.json

# assets
GooglePlay.png
GooglePlayFeature.png
iTunesConnect.png
platform/*
!platform/android
platform/android/*
!platform/android/res
platform/android/res/*
!platform/android/res/values
